@import "tailwindcss";
@plugin "daisyui";

body {
    background: url(../public/pic.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}